/* .HomeCon{
    width:auto;
    height: 80vh;
    display: flex;
    position: relative;
    background-image: url('/src/images/footer-11.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
} */



